h5 {
  text-transform: uppercase;
  text-align: center;
}

p {
  text-align: center;
  letter-spacing: 2px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height:400px;
  width:auto;
}

#products {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height:450px;
  width:auto;
  padding-bottom: 20px;
}
