<br>
<br>
<h5>Discover an oaisis of new products that leave you and this earth in a happy place</h5>



<footer class="page-footer font-small blue pt-4 mt-4">
  <div class="container-fluid text-center text-md-left">
    <div class="row">
      <div class="col-md-12">
        <h5 class="text-uppercase">Learn More:</h5>
        <p>Here you can use rows and columns here to organize your footer content.</p>
      </div>
      <div class="col-md-12">
        <ul class="list-unstyled">
          <li>
              <a href="#!">Link 1</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright py-3 text-center">© 2018 Copyright: <a href="">Nurture</a>
  </div>
</footer>
