<body>
<h1>OUR STORY</h1>
<img src="assets/img/about1.jpg">

<h3>Aesop was established in 1987. We are headquartered in Melbourne, and have offices and stores in many parts of the world.</h3>
<br>
<p>Our objective has always been to formulate skin, hair and body care products of the finest quality; we investigate widely to source plant-based and laboratory-made ingredients, and use only those with a proven record of safety and efficacy. In each of our unique stores, informed consultants are pleased to introduce the Aesop range and to guide your selections.</p>
</body>
