body {
  padding-top: 30px;
  margin-top: 40px;
  text-align: center;
}

p {
  letter-spacing: 2px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height:670px;
  width:auto;
  padding-bottom: 20px;
}
